/* Compulsary snippet thats required on all projects */
* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing : border-box;
} 



.header {
    background-color: #077caa;
    
}

/* All text in the header section and brand is in white */
.header .brand {
    color :white;
    font-size: 25px;
    
}

.header ul a {
    color:white;
    text-decoration: none;
    
}

/* This removes the the bullet points */
.header ul {
    list-style: none; 
    
}

.title-section,
.top-section,
.follow-us {
    padding: 10px;
}

.follow-us {
    color:#077caa
}

.header ul li {
    margin-right: 20px;
}
/* The orange border isn't being overwriiten for some reason */
.Membership{
    display: inline-block;
    color:orange;
    padding: 10px 20px;
    border: solid 2 px orange;
    margin-top: 20px;
    border-radius: 10px;
}


.title-section {
    color:#077caa;
}

.top-section,
.follow-us-link {
 

}