/* Compulsary snippet thats required on all projects */
* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing : border-box;
} 



.header {
    background-color: #077caa;
    
}

/* All text in the header section and brand is in white */
.header .brand {
    color :white;
    font-size: 25px;
    
}

.header ul a {
    color:white;
    
}

/* This removes the the bullet points */
.header ul {
    list-style: none; 
    
}



.title-section {
    color:#077caa;
}
